.MovieContainer {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  width: 15rem;
  box-shadow: 0 3px 10px 0 #aaa;
  cursor: pointer;
  gap: 1rem;
  border-radius: 2%;
}
.MovieContainer:hover {
  opacity: 0.8;
}

.CoverImage {
  object-fit: cover;
  height: 20rem;
}
.MovieName {
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
  margin: 0.9rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.InfoColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.MovieInfo {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  white-space: nowrap;
}

